.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.container-header {
  display: flex;

  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}


.header-mail,
.header-phone {
  color: var(--primary-text-color);
}



.header-mail:hover,
.header-mail:focus,
.header-phone:focus,
.header-phone:hover {
  color: var(--accent-color);
}

.header-mail.link,
.header-phone.link {
  display: flex;
  fill: currentColor;
  vertical-align: middle;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-icon {
  margin-right: 10px;
}