.webstudio-up {
  color: var(--primary-black-color);
  
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.webstudio-down {
  color: var(--primary-white-color);

  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}